In [1]:
import numpy as np
import pandas as pd

import ast

In [2]:
raw_tthc = pd.read_csv('raw_tthc.csv', dtype={'maThuTuc': str})

In [3]:
raw_tthc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2695 entries, 0 to 2694
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   link                    2695 non-null   object
 1   maThuTuc                2695 non-null   object
 2   soQuyetDinh             2615 non-null   object
 3   tenThuTuc               2615 non-null   object
 4   capThucHien             2615 non-null   object
 5   loaiThuTuc              2615 non-null   object
 6   linhVuc                 2615 non-null   object
 7   trinhTuThucHien         2695 non-null   object
 8   cachThucThucHien        2695 non-null   object
 9   thanhPhanHoSo           2695 non-null   object
 10  doiTuongThucHien        2615 non-null   object
 11  coQuanThucHien          2695 non-null   object
 12  coQuanCoThamQuyen       2615 non-null   object
 13  diaChiTiepNhanHoSo      2615 non-null   object
 14  coQuanDuocUyQuyen       2615 non-null   object
 15  coQuanPhoiHop           2615 non-null   object
 16  ketQuaThucHien          2615 non-null   object
 17  canCuPhapLy             2615 non-null   object
 18  yeuCauDieuKienThucHien  2636 non-null   object
 19  tuKhoa                  2615 non-null   object
 20  moTa                    2615 non-null   object
dtypes: object(21)
memory usage: 442.3+ KB

In [4]:
s1 = raw_tthc.map(lambda x: isinstance(x, str) and x.strip() == 'Không có thông tin').sum().sum()

df = raw_tthc.map(lambda x: 'Không có thông tin' if isinstance(x, str) and x.strip() == 'Không có thông tin' else x)
df = df.fillna('Không có thông tin')

s2 = df.map(lambda x: isinstance(x, str) and x.strip() == 'Không có thông tin').sum().sum()

s1, s2

(np.int64(12904), np.int64(14083))

In [5]:
(df == raw_tthc).sum()

link                      2695
maThuTuc                  2695
soQuyetDinh               2615
tenThuTuc                 2615
capThucHien               2615
loaiThuTuc                2615
linhVuc                   2615
trinhTuThucHien           2695
cachThucThucHien          2695
thanhPhanHoSo             2695
doiTuongThucHien          2615
coQuanThucHien            2695
coQuanCoThamQuyen         2615
diaChiTiepNhanHoSo        2615
coQuanDuocUyQuyen         2615
coQuanPhoiHop             2615
ketQuaThucHien            2615
canCuPhapLy               2615
yeuCauDieuKienThucHien    2636
tuKhoa                    2615
moTa                      2615
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2695 entries, 0 to 2694
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   link                    2695 non-null   object
 1   maThuTuc                2695 non-null   object
 2   soQuyetDinh             2695 non-null   object
 3   tenThuTuc               2695 non-null   object
 4   capThucHien             2695 non-null   object
 5   loaiThuTuc              2695 non-null   object
 6   linhVuc                 2695 non-null   object
 7   trinhTuThucHien         2695 non-null   object
 8   cachThucThucHien        2695 non-null   object
 9   thanhPhanHoSo           2695 non-null   object
 10  doiTuongThucHien        2695 non-null   object
 11  coQuanThucHien          2695 non-null   object
 12  coQuanCoThamQuyen       2695 non-null   object
 13  diaChiTiepNhanHoSo      2695 non-null   object
 14  coQuanDuocUyQuyen       2695 non-null   object
 15  coQuanPhoiHop           2695 non-null   object
 16  ketQuaThucHien          2695 non-null   object
 17  canCuPhapLy             2695 non-null   object
 18  yeuCauDieuKienThucHien  2695 non-null   object
 19  tuKhoa                  2695 non-null   object
 20  moTa                    2695 non-null   object
dtypes: object(21)
memory usage: 442.3+ KB

In [7]:
raw_link = pd.read_csv('preprocessed_link.csv')
raw_link['TTHCLienQuan'] = raw_link.TTHCLienQuan.apply(ast.literal_eval)
link_list = list(set(raw_link.TTHCLienQuan.explode().to_list()))
len(link_list)

1820

In [8]:
len(df.link) - len(set(df.link.to_list()))

0

In [9]:
df = df[df['link'].isin(link_list)]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1820 entries, 0 to 2691
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   link                    1820 non-null   object
 1   maThuTuc                1820 non-null   object
 2   soQuyetDinh             1820 non-null   object
 3   tenThuTuc               1820 non-null   object
 4   capThucHien             1820 non-null   object
 5   loaiThuTuc              1820 non-null   object
 6   linhVuc                 1820 non-null   object
 7   trinhTuThucHien         1820 non-null   object
 8   cachThucThucHien        1820 non-null   object
 9   thanhPhanHoSo           1820 non-null   object
 10  doiTuongThucHien        1820 non-null   object
 11  coQuanThucHien          1820 non-null   object
 12  coQuanCoThamQuyen       1820 non-null   object
 13  diaChiTiepNhanHoSo      1820 non-null   object
 14  coQuanDuocUyQuyen       1820 non-null   object
 15  coQuanPhoiHop           1820 non-null   object
 16  ketQuaThucHien          1820 non-null   object
 17  canCuPhapLy             1820 non-null   object
 18  yeuCauDieuKienThucHien  1820 non-null   object
 19  tuKhoa                  1820 non-null   object
 20  moTa                    1820 non-null   object
dtypes: object(21)
memory usage: 312.8+ KB

In [11]:
df.to_csv('preprocessed_tthc.csv', index=False)